<div class="row">
    <h4>Hard and Soft skills</h4>
    <div class="text center col sm-4 col md-4 col lg-4">
    <circle-progress
  [percent]="80"
  [radius]="60"
  [title]="'Html'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F724DB'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600">
    </circle-progress>
</div>
<div class="text center col sm-4 col md-4 col lg-4">
    <circle-progress
  [percent]="75"
  [radius]="60"
  [title]="'Css'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F724DB'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600">
    </circle-progress>
</div>
<div class="text center col sm-4 col md-4 col lg-4">
    <circle-progress
  [percent]="65"
  [radius]="60"
  [title]="'Js'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F724DB'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600">
    </circle-progress>
</div>
<div class="text center col sm-4 col md-4 col lg-4">
    <circle-progress
  [percent]="80"
  [radius]="60"
  [title]="'GitHub'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F724DB'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600">
    </circle-progress>
</div>
<div class="text center col sm-4 col md-4 col lg-4">
    <circle-progress
  [percent]="80"
  [radius]="60"
  [title]="'English'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F724DB'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600">
    </circle-progress>
</div>
<div class="text center col sm-4 col md-4 col lg-4">
    <circle-progress
  [percent]="90"
  [radius]="60"
  [title]="'Teamwork'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F724DB'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600">
    </circle-progress>
</div>
</div>