.row{
    padding: 80px;
}

div{
    background:#EBB3F9;
}

h4 {
    display: inline;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(80, 78, 78);

}

p {
    margin-left: 70px;
    color: rgb(80, 78, 78);

}