.row{
    padding: 20p;
    background-color: #EBB3F9; 
    }

.contenedor{
    width:auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 10px 10px 30p #000000;
}