<div class="row">
<h2>Experiencia laboral</h2>
<div cass="col-lg-1"></div>
<div cass="col-lg-11">
    <ul>
        <li><h4><b>Trabajo I</b></h4>
            <p><i>Secretaria Administrativa en Autocity Renault - 3 años </i></p> 
        </li>
    </ul>
    <ul>
        <li><h4><b>Trabajo II</b></h4>
            <p><i>Analista cliente-producto Ingeniería de Producto Renault - 2 años</i></p>
        </li>
    </ul>
    <ul>
        <li><h4><b>Trabajo III</b></h4>
            <p><i>Docente nivel Secundario Área Cs Naturales - 7 años</i></p> 
        </li>
    </ul>
</div>
</div>
