<div class="row">
    <h4>Educación</h4>
    <div cass="col-lg-1"></div>
    <div cass="col-lg-11">
        <ul>
            <li><p><b>Estudio I </b></p> 
                <p>(3 años)</p>
            </li>
            <p><i>Tecnicatura Superior en Alimentación y Bromatología</i></p>
        </ul>
        <ul>
            <li><p><b>Estudio II</b></p> 
                <p>(actualmente)</p>
            </li>
            <p><i>Licenciatura en Educación</i></p>
        </ul>
        <ul>
            <li><p><b>Estudio III</b></p>
                <p>(actualmente)</p>
            </li>
            <p><i>Programación</i></p>
        </ul>
    </div>
    </div>
    