.row{
    padding: 30px;
}

div{
    background: linear-gradient(to right, #fa379c, #f830aa, #f32cba, #ec2dca, #e132db);
   
}

h1{
    display: inline;
    margin-bottom: 50px;
    color: rgb(245, 243, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
     color: rgb(245, 243, 243);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }