<div class="row">
<div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logoAP">
    </div>
    <div class="redes">
            <a href="https://www.linkedin.com/in/mar%C3%ADa-de-los-angeles-gim%C3%A9nez-09074a127"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/?lang=es"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/m.angeles.13/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/MaDeLosAngeles"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/angeles.gimenez.33/about_contact_and_basic_info"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
    </div>
</div>
</div>



