<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">

</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h4 id="nombre">Maria de los Angeles Giménez</h4>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
    <span>
        <h2 id="intro"> Acerca de mí</h2>
        <p>Soy Bromatóloga, Docente Y Estudiante actualmente. Tengo gran capacidad de adaptación, soy una 
            persona muy sociable y siempre en búsqueda de nuevos desafíos. Me gusta trabajar para superarme
            a mi misma y que ese trabajo se distinga y deje algún aporte, alguna huella. </p>
    </span>
</div>
</div>