.row {
    padding: 20px;
    display: flex;
}
div {
    background-color: #EBB3F9;
    text-align: center;
}

/*Etilo de la foto de perfil*/
#fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius:100%;
    box-shadow: 3px 3px 3px grey;
    left: 3%;
    top:650px;
}

/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 4%;
    margin-left: 10px;
}

#intro {
    margin-top: 2%;
    margin-right: 10px;
}

/*Para la vista de celular*/
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius:100%;
        box-shadow: 3px 3px 3px grey;
        left: 43%;
        top:980px;
    }
    #nombre {
        font-weight: bold;
        margin-top: 30%;
        margin-left: 10px;
    }
    }