<div class="row">
<h1>Experiencia laboral</h1>
<div cass="col-lg-1"></div>
<div cass="col-lg-11">
    <ul>
        <li><h1>Trabajo 1</h1> - 
            <h3>(years)</h3>
        </li>
        <p>Aca escribiría texto</p>
    </ul>
    <ul>
        <li><h1>Trabajo 2</h1> - 
            <h3>(years)</h3>
        </li>
        <p>Aca escribiría texto</p>
    </ul>
    <ul>
        <li><h1>Trabajo 3</h1> - 
            <h3>(years)</h3>
        </li>
        <p>Aca escribiría texto</p>
    </ul>
</div>
</div>
